@import '../../../App';

.SideBar {

  &-wrapper {
    width: 100%;
    max-width: 232px;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px #0000001A;
    background-color: #ffffff;
  }

  &-title {
    padding: 0 20px;
    color: $text-color;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.5px;
  }

  &-filters {
    &-item {
      display: block;
      padding: 10px 20px;
      cursor: pointer;

      input {}
      span {
        color: $text-color;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
      }

      &:hover {
        background-color: #F1FCFF;
      }
    }
  }
}